doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/output.css")
        title Document
    body
        nav(class="container mx-auto flex justify-between items-center ")
            ul(class="flex space-x-6 mt-10")
                li 
                    a(href="/about") About
                li 
                    a(href="/blog") Blog
                li 
                    a(href="/gallery") Gallery
                i 
                    a(href="/events") Events
                li 
                    a(href="/contact") Contact
        block content
        footer(class="bg-green-600 text-white text-center p-4")
            p &copy; 2024 Our Restaurant. All Rights Reserved.